.container {
  display: grid;
  grid-template-column: auto auto;
}

.box {
  width: 40px;
  height: 40px;
  background-color: #0071FF;
}

  #box1 {
  background-color: yellow;
  color: green;
  }

  #box2 {
  background-color: brown;
  color: white;
  }
