body {
  display: flex;
  min-height: 600px;
  border: 8px solid #333333
  flex-direction: collom;
  justify-content: space-around;
}

.box {
  width: 40px;
  height: 40px;
  background-color: #0071FF;
  
